<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list footer-content">
          <li>Related Sites</li>
          <li><a href="http://eludevisibility.org/" title="Prototype, Sample &amp; Unreleased SNES ROMs">eludevisibility.org</a></li>
          <li><a href="https://64dd.org/" title="64DD.org">64DD.org</a></li>
          <li><a href="https://bsxproj.superfamicom.org/" title="BS-X Project">BS-X Project</a></li>
          <li><a href="https://dejap.eludevisibility.org/" title="dejap.com Mirror">dejap.com Mirror</a></li>
          <li><a href="https://dvdtranslations.eludevisibility.org/" title="DvD Translations">DvD Translations</a></li>
          <li><a href="https://fusoya.eludevisibility.org/" title="FuSoYa's Niche">FuSoYa's Niche</a></li>
          <li><a href="https://mijet.eludevisibility.org/" title="M.I.J.E.T. Sega Genesis / Mega Drive Translations &amp; Hacks">M.I.J.E.T. Sega Genesis / Mega Drive Translations &amp; Hacks</a></li>
          <li><a href="https://superfamicom.org/" title="SNES Games">SNES Games</a></li>
          <li><a href="http://shop.eludevisibility.org/" title="Lapel Pins &amp; Enamel Pins">Lapel Pins Shop</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-2 footer-content">
        <ul class="social-media-list">
          <li>Hosted</li>
          <li><a href="https://github.com/MatthewCallis/satellaview.org" title="GitHub">GitHub</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-3 site-description">
        <p>{{ site.description }}</p>
        <p>
          If you have something you would like to submit, share or ask, feel free to reach out on <a href="https://twitter.com/superfamicom" rel="external" target="_blank">Twitter</a>!
        </p>
      </div>
    </div>
  </div>
</footer>
