// Reset some basic elements
// Basic Styling
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

/* Reset */
a, ins {
  text-decoration: none
}

article, aside, details, figcaption, figure, footer, header, hr, menu, nav, section {
  display: block
}

a, hr {
  padding: 0
}

.r, html {
  -webkit-font-smoothing: subpixel-antialiased
}

abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp,
section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
  box-sizing: border-box
}

ins, mark {
  background-color: #ededed;
  color: #000
}

html {
  -webkit-text-size-adjust: 100%
}

nav ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none
}

mark {
  font-style: italic;
  font-weight: 700
}

del {
  text-decoration: line-through
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0
}

input,
select {
  vertical-align: middle
}

// Code
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    word-wrap: break-word;
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
