<!DOCTYPE html>
<html>
{% include head.html %}
<body class="reveal">
{% include header.html %}
{{ content }}
{% include footer.html %}
<script src="{% asset_path cheet.js %}"></script>
<script src="{% asset_path macy.js %}"></script>
<script src="{% asset_path sort.js %}"></script>
<script src="{% asset_path site.js %}"></script>
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-315321-16', 'auto');
ga('require', 'displayfeatures');
ga('require', 'linkid');
ga('send', 'pageview');
</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>
</body>
</html>
